/* resetear estilos de los navegadores*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 400 16px/1.3 Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.header{
    min-height: 52px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.menu-mobile img{
    fill:white;
}

.marvel-logo{
    display:flex;
    align-items: center;
}

.info{
    background-color: #202020;
    color: white;
    font-size: 16px;
    padding: 30px;
}

.info h2{
    font-weight:900;
    margin-bottom: 16px;
}