/* resetear estilos de los navegadores*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font: 400 16px/1.3 Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.header{
    min-height: 52px;
    background-color: gold;


}
.wrapper-up{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #393939;
    padding: 0 35px;
}

.menu-desktop{
    display:none;
}
.menu-mobile img{
    fill:white;
}

.marvel-logo{
    display:flex;
    align-items: center;
}

.info{
    background-color: #202020;
    color: white;
    font-size: 14px;
    padding: 30px;
}

.info h2{
    font-weight:900;
    margin-bottom: 16px;
    font-size:26px;
}

.info p{
    margin-top: 30px;
}

.start-dreaming{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: black;
    text-decoration: none;
    color:white;
    font-weight: 600;
    font-size: 10px;
}

.start-dreaming span{
    text-transform: uppercase;
}

.more{
    display:block;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 15px;
    background-color:#e62429;
    width: 160px;
    text-decoration: none;
    text-align: center;
}

.content{
    display:flex;
    flex-wrap: wrap;
}


.content > .img +.img{
    padding:20px;
}

.img{
    background-color: #202020;
    min-width: 100%;
}

.img img{
    max-width: 100%;
}

.img p, .img h2{
    color:white;
    margin-bottom: 10px;
}

.img h2{
    text-transform: uppercase;
}
.dark{
    background-color:#202020;
    border: 1px solid white;
}

.buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
}

.buttons a{
    margin-right: 15px;
}


.thumbs ul{
    display:flex;
    flex-wrap: nowrap;
    cursor: pointer;
    list-style: none;
    overflow-x: auto;
    max-width:1240px;
    padding:30px 15px 80px 15px;
}

.thumbs li{
    min-width: 33%;
    max-width: 33%;
    margin:0 10px;
}

.thumbs img{
    max-width:100%;
}
.thumbs ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .thumbs ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .thumbs ::-webkit-scrollbar-thumb {
    background: #e62429;
    width:3px;
  }

  .thumbs h3{
    text-transform: uppercase;
    color: #e62429;
    margin-bottom: 10px;
  }

  .thumbs h4{
    font-weight:600;
  }

  .thumbs h4:hover{
    color:#e62429;
  }

  .thumbs h3, .thumbs h4{
      font-size: 16px;
  }

  .no-border{
      border:0;
  }

  .banners-new .img{
      width: 50%;
  }

  .banners-new h3{
      text-transform: capitalize;
      color: white;
      margin-bottom: 20px;
      font-weight: 400;
  }
  .background-banner{
      background-image: url('../img/mu_base_set_dsk_02.jpg');
      background-size: cover;
      min-height: 300px;
      padding: 40px;
      background-position: top;
  }

  .background-banner-hero{
    background-image: url('../img/disneyplusall_base_set_02.png');
    background-size: cover;
    min-height: 300px;
    padding: 40px;
    background-position: top;
}
  .banners-new .more{
      width: 50%;
  }


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x:auto;
    transition: 0.5s;
    padding-top: 60px;
  }

  .activeMenu{
      width:100%!important;
      transition: 0.5s all ease-in-out;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color:WHITE;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    cursor:default;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index:10;
  }

  .login{
      display:none;
  }

  .menu-secondary{
      display:none;
  }
  .menu-secondary .sub-menu {
      display: none;
  }

  .menu-secondary.is-active {
      display: block;
  }
  .menu-secondary .sub-menu.is-active {
    display: block;
  }

  @media (min-width: 601px){
        .activeMenu{
            max-width: 371px!important;
        }
    }

@media (min-width: 800px){
    .content{
        flex-wrap: nowrap;
    }

    .img{
        width:50%;
        position:relative;
        min-width:50%;
    }

    .reverse{
        flex-direction: row-reverse;
    }

    .thumbs{
        display:flex;
        justify-content: space-around;
    }

    .thumbs li{
        min-width: 23%;
        width:23%;
        margin:0 10px;
    }

    .menu-mobile{
        display:none;
    }

    .header{
        border-bottom: 1px solid #393939;
    }
    .menu-desktop{
        background-color: #202020;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 35px;
        border-top: 1px solid #393939;
        position: relative;
        flex-direction: column;
    }
    .search-logo{
        border: 1px solid #393939;
        border-bottom: none;
        display: flex;
        align-self: stretch;
        padding: 13px;

    }

    .desktop-login{
        display:block;
    }

    .login{
        border: 1px solid #393939;
        border-bottom: none;
        display: flex;
        align-self: stretch;
        padding: 13px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        text-decoration: none;
        justify-content: center;
        align-items: center;
    }

    .login span{
        padding: 0 7px;
        font-size: 12px;
    }

    .menu-desktop .menu-primary{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        list-style: none;
    }

    .menu-desktop a{
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
    }
    .menu-desktop .menu-primary:hover  a{
        opacity:0.7;
    }

    .menu-desktop .menu-primary:hover  a:hover{
        opacity:1;
        padding-bottom:16px;
        border-bottom: 2px solid #e62429;
    }

    .menu-desktop  a.videos:hover .menu-secondary{
        display:flex;
        position:absolute;
        top:0;
        width:100%;
        background-color: #f1f1f1;
        height:300px;
    }
    /* .menu-desktop  a.videos:hover .menu-secondary ul.videos{
        display:flex;
        flex-wrap: wrap;
        transition: 0.5s opacity ease-in-out;

    } */
}